<mat-card [class.important]="toDo$.important" (click)="showText=!showText" ng-dbclick="editTodo()">
    <div [class.done]="toDo$.done">
        <img src="assets/img/check_box-24px.png" alt="checked" (click)="changeCheck()" *ngIf="toDo$.done">
        <img src="assets/img/check_box_outline_blank-24px.png" alt="not-checked" (click)="changeCheck()" *ngIf="!toDo$.done">
        <span class="lable">{{ toDo$.lable }}</span>
        <mat-icon (click)="deleteToDo()" class="small_gab">delete</mat-icon>
        <mat-icon (click)="changeImportant()" *ngIf="!toDo$.done && !toDo$.important">error_outline</mat-icon>
        <mat-icon (click)="changeImportant()" *ngIf="!toDo$.done && toDo$.important">error</mat-icon>
    </div>
    <div *ngIf="showText" class="w-100">
        <br>
        <p>Notes:</p>
        <p>{{ toDo$.text }}</p>
    </div>
</mat-card>