h4 {
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

span {
    font-size: 10px;
}

.mat-form-field {
    height: 30px;
    margin: 0;
}

.mat-card {
    margin: 10px 0;
}

.conatiner {
    margin: 0 10px 20px 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.todoCon,
.donetodoCon {
    width: 100%;
    margin: 0 22px;
}

@media only screen and (min-width: 967px) {
    .todoCon,
    .donetodoCon {
        width: 50%;
    }
    .donetodoCon {
        margin-top: 21px;
    }
    .conatiner {
        display: flex;
    }
}

.delete {
    float: right;
}